<div class="row" style="width: 100%; background-color: #fff;">
    <div class="container">
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="title mb-3 bex-color animate__animated animate__fadeInDown"
                    style="font-weight: bolder;">About KeyBe Xpress</h1>

            </div><!-- /.container-fluid -->
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="layoutArea animate__animated animate__fadeInLeft">
                    <div class="column">
                        <p>KENNEDY BROTHERS Group (PT. KeyBe Indo Perkasa) sebagai holding company berkembang yang
                            bergerak di bidang Perdagangan dan Jasa, Konstruksi, Event Organizer, Developer Aplikasi
                            serta Media Placement yang cukup terkemuka di Indonesia ini berdiri sejak tahun 2009.
                            Sebagai perusahaan rintisan bisnis konvensional, Kennedy Brothers Group terus berevolusi
                            terhadap seluruh layanan pada sistem digital.</p>
                        <p>Seiring berkembangnya jaringan dan tingginya kepercayaan serta permintaan klien untuk
                            melayani jasa PPJK, Ekspor Impor (EXIM), Domestik dan Cargo ke seluruh wilayah Indonesia dan
                            luar negeri, kini Kennedy Brothers melalui KeyBe Xpress (PT. KeyBe Digital Express
                            International) telah mengembangkan bidang usahanya menjadi freight forwarding untuk melayani
                            kebutuhan pengiriman ke seluruh wilayah Indonesia sampai ke pelosok daerah serta melayani
                            pengiriman barang, ekspor impor ke luar negeri.</p>
                        <p>KeyBe Xpress melayani pengiriman berupa dokumen, spare part, serta paket besar maupun kecil
                            dengan tujuan dalam kota (City Courier) maupun antar kota (Domestic Courier) serta beberapa
                            produk lainnya seperti Trucking Carteret, Kereta Api (Darat), Domestic Sea Freight (Laut),
                            International Export Import (Udara), serta layanan Mover untuk Project Besar. Adapun
                            beberapa layanan kami untuk Domestic atau Courier City : Reguler Service, Express Service,
                            One Night Service, serta Same Day Service, sesuai kebutuhan pelanggan dengan pelayanan yang
                            maksimal. PASTI SAMPAI!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wh animate__animated animate__fadeInRight">
                    <div class="slideupdown "
                        style="display: flex; justify-content: center;">
                        <img decoding="async" fetchpriority="high" style="width: 70%;"
                            src="/images/Warehouse-KeyBeEx-1024x724.png"
                            class="attachment-large size-large wp-image-1732" alt=""
                            srcset="/images/Warehouse-KeyBeEx-1024x724.png" 1024w,
                            /images/Warehouse-KeyBeEx-1024x724.png" 300w, /images/Warehouse-KeyBeEx-1024x724.png" 768w,
                            sizes="(max-width: 1024px) 100vw, 1024px">
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>



<style>
    .layoutArea{
        animation-delay: 1s;
    }
    .wh{
        animation-delay: 1.5;
    }
    .slideupdown {
        position: relative;
        animation-name: example;
        animation-duration: 8s;
        animation-delay: 2s;
        animation-iteration-count: infinite
    }

    @keyframes example {
        0% {
            top: 0px;
        }

        50% {
            top: 200px;
        }

        100% {
            top: 0px;
        }
    }
</style>