<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Penjualan Baru</h3>
  </div>
  <form ng-submit="save()">
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="exampleInputtext1">NO STT</label>
            <input ng-model="model.stt" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="exampleInputtext1">Tanggal</label>
            <input ng-model="model.tanggal" type="date" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Pengirim</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputtext1">Nama</label>
                <input required ng-model="model.pengirim_nama" type="text" class="form-control">
              </div>

              <div class="form-group">
                <label for="exampleInputtext1">Alamat </label>
                <textarea ng-model="model.pengirim_alamat" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputtext1">Kota</label>
                <input ng-model="model.pengirim_kota" type="text" class="form-control">
              </div>
            </div>
          </div>


          <!-- /.form-group -->

        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Penerima</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputtext1">Nama</label>
                <input required ng-model="model.penerima_nama" type="text" class="form-control">
              </div>

              <div class="form-group">
                <label for="exampleInputtext1">Alamat </label>
                <textarea ng-model="model.penerima_alamat" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputtext1">Kota</label>
                <input ng-model="model.penerima_kota" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-md-12">

          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Detail Barang</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="exampleInputtext1">Jumlah</label>
                    <input ng-model="model.jumlah" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputtext1">Nama Barang</label>
                    <input ng-model="model.nama_barang" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="exampleInputtext1">Berat/Volume</label>
                    <input ng-change="changeHargaAndBerat()" ng-model="model.berat" type="number" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputtext1">Dimensi</label>
                    <input ng-model="model.dimensi" type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputtext1">Catatan</label>
            <textarea ng-model="model.catatan" type="text" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputtext1">User</label>
            <input ng-model="model.catatan" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputtext1">Tarif</label>
            <input ng-model="model.tarif" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputtext1">Biaya</label>
            <input ng-model="total" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputtext1">Biaya Packing</label>
            <input ng-model="total" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputtext1">Biaya Lain-Lain</label>
            <input ng-model="total" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputtext1">Total</label>
            <input ng-model="total" type="number" class="form-control">
          </div>
        </div>
      </div>


      <div class="row">
        <button type="submit">Save</button>
      </div>
    </div>

  </form>
</div>